body {
  background-color: #FC3B29;
  font: 30px Pokemon, serif;
  color: #FDAF2A;
  -webkit-text-stroke: 2px #0C5E9B;
  text-shadow:
  3px 3px 0 #000,
  -2px -2px 0 #0C5E9B,  
  2px -2px 0 #0C5E9B,
  -2px 2px 0 #0C5E9B,
  2px 2px 0 #0C5E9B;
}
main {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 7px;
}
#row {

}
#poketheater {
  float: left;
  background-color: #D0EBE7;
  border: 12px solid #47AAB9;
  border-radius: 50%;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
}
#buttons-result {
  float: right;
  position: relative;
  min-height: 200px;
  width: 43%;
  padding: 10% 2%;
}
img {
  width: 88%;
  padding: 5%;
  transition: filter 0.4s ease-in-out;
  -webkit-transition:-webkit-filter 0.4s ease-in-out;   
  -moz-transition:-moz-filter 0.4s ease-in-out;  
  -o-transition:-o-filter 0.4s ease-in-out;  
  -m-transition:-ms-filter 0.4s ease-in-out;  
  -webkit-filter: brightness(0);
  -moz-filter: brightness(0);
  -o-filter: brightness(0);
  -ms-filter: brightness(0);
  filter: brightness(0);
}
.revealSilh {
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1);
}
.reveal, .play-again {
  display: none;
}
.fn-results {
  visibility: hidden;
  font-size: 2.1em; 
  color: #0C5E9B;
  -webkit-text-stroke: 2px #FDAF2A;
  text-shadow:
  3px 3px 0 #000,
  -2px -2px 0 #FDAF2A,  
  2px -2px 0 #FDAF2A,
  -2px 2px 0 #FDAF2A,
  2px 2px 0 #FDAF2A;
}

button {
  background-color: #FDAF2A;
  border: 3px solid #0C5E9B;
  color: #0C5E9B;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  font-size: 1em;
  letter-spacing: normal;
  margin: 10% auto;
  
}

@font-face {
  font-family: "Pokemon";
  src: url("font/PokemonSolid.ttf");
  
}

/*Media Queries*/

@media screen and (max-width: 900px) {
  h1, .fn-results {
    font-size: 7vh;
  }
  button {
    font-size: 0.8em;
  }
  #buttons-result {
    width: 100%;
  }
  #poketheater, #buttons-result {
    font-size: 1em;
    float: none;
    display: inline-block;
  }
 
}


